<div class="main" id="result">
    {% for i in data %}
    <a href="{% url 'User:viewfood' i.id %}">
        <div class="sub" style="color: black">
            <div><img src="{{i.food_photo.url}}" width="150" height="150"></div>
            <div>Name :{{i.food_name}}</div>
            <div>Food Type :{{i.foodtype.foodtype_name}}</div>
            <div>Category :{{i.category.category_name}}</div>
            <div>Price :{{i.food_price}}</div>
            <div>Price :{{i.food_price}}</div>
            <div>
                <button>
                    <a href="{% url 'User:addCart' i.id %}">Add to Cart</a>
                </button>
               
            </div>
        </div>
    </a>
    {% endfor %}
</div>