{% extends 'User/Head.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Booking </title>
</head>
<body>
<form action="" method="post">
    <br><br>
    <h2 align="center">View Booking</h2>
<table border="1" align="center">
    <tr>
        <td>Sl.No</td>
        <td>FoodName</td>
        <td>Quantity</td>
        <td>Price</td>
        <td>Total</td>
        <td>Restaurant</td>
        <td>Action</td>
    
    </tr>
    {% for i in data %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.food.food_name}}</td>
        <td>{{i.cart_qty}}</td>
        <td>{{i.food.food_price }}</td>
        <td>{{i.booking.booking_amount}}</td>
        <td>{{i.food.rest.rest_name}}</td>
        <td>{% if  i.booking.booking_status == 3 %}
            Food Ordered
            {% endif %}
        </td>
        
    </tr>
    {% endfor %}
</form>

</table>
</body>
</html>
{% endblock content %}