{% extends 'User/Head.html' %}
{% block content %}
{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Restaurant</title>
</head>
<style>
    .sub {
        padding: 20px;
        background-color: #E1F5FE;
        width: fit-content;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main {
        display: flex;
        justify-content: center;
        gap: 2rem;
        align-items: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
</style>

<body>
    
    <form action="" method="post">
        <div style="margin-left:650px; width: 50%; text-align: center; margin-bottom: 50px;">
            <table>
                <tr>
                    <td>Food Type</td>
                    <td>
                        <select name="sel_type" id="sel_typet">
                            <option value="">----select----</option>
                            {% for i in type %}
                            <option value="{{i.id}}">{{i.foodtype_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Category</td>
                    <td>
                        <select name="sel_cat" id="sel_cat">
                            <option value="">----select----</option>
                            {% for i in category %}
                            <option value="{{i.id}}">{{i.category_name}}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        
    </form>
    <div class="main" id="result">
        {% for i in food %}
            <div class="sub" style="color: black">
                <div><img src="{{i.food_photo.url}}" width="150" height="150"></div>
                <div>Name :{{i.food_name}}</div>
                <div>Food Type :{{i.foodtype.foodtype_name}}</div>
                <div>Category :{{i.category.category_name}}</div>
                <div>Price :{{i.food_price}}</div>
                <div>
                    <button>
                        <a href="{% url 'User:addCart' i.id %}">Add to Cart</a>
                    </button>
                   
                </div>
            </div>
        {% endfor %}
    </div>

</body>
{% if msg %}
<script>
    alert('{{msg}}')
    window.location="/User/viewfood/{{id}}"
</script>
{% endif %}

</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#sel_cat").change(function () {
        var cid = $(this).val();
      
         var fid = document.getElementById('sel_typet').value
        var ur = "{% url 'User:ajaxfood' %}"
        $.ajax({
            url: ur,
            data: { cid: cid, fid: fid, },
            success: function (data) {
                $("#result").html(data);
               // alert("hai")
            },
        });
    });

    $("#sel_typet").change(function () {
        var fid = $(this).val();
      
         var cid = document.getElementById('sel_cat').value
        var ur = "{% url 'User:ajaxfood' %}"
        $.ajax({
            url: ur,
            data: { cid: cid, fid: fid, },
            success: function (data) {
                $("#result").html(data);
               // alert("hai")
            },
        });
    });
</script>
{% endblock content %}